<hel-layout>
  <hel-layout-column>
    <hel-list-column>
      <div *helListColumnItem>Some data</div>
      <div *helListColumnItem>Extra data</div>
      <div *helListColumnItem>More Data</div>
    </hel-list-column>
  </hel-layout-column>
  <hel-stepper>
    <hel-step>
      <ng-template helStepLabel>Step One</ng-template>
      <ng-template helStepHeadline>The First Step</ng-template>
      <ng-template helStepActions><hel-action-button helStepperNext>Next</hel-action-button></ng-template>
      Step 1 content
    </hel-step>
    <hel-step>
      <ng-template helStepLabel>Step Two</ng-template>
      <ng-template helStepHeadline>The Second Step</ng-template>
      <ng-template helStepActions><hel-action-button helStepperNext>Next</hel-action-button></ng-template>
      Step 2 content
    </hel-step>
    <hel-step>
      <ng-template helStepLabel>Step Three</ng-template>
      <ng-template helStepHeadline>The Third Step</ng-template>
      <ng-template helStepActions><hel-action-button helStepperNext>Next</hel-action-button></ng-template>
      Step 3 content
    </hel-step>
    <hel-step>
      <ng-template helStepLabel>Step Four</ng-template>
      <ng-template helStepHeadline>The Fourth Step</ng-template>
      <ng-template helStepActions><hel-action-button helStepperNext>Next</hel-action-button></ng-template>
      Step 4 content
    </hel-step>
  </hel-stepper>
</hel-layout>








